# Bridge Interactive Credentials (https://bridge.interactive.com/docs/api/authentication)
BRIDGE_INTERACTIVE_CLIENT_ID={client_id}
BRIDGE_INTERACTIVE_CLIENT_SECRET={client_secret}
BRIDGE_INTERACTIVE_SERVER_TOKEN={server_token}